<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>我的联通</title>
  </head>

  <body>
    <h1>中国联通</h1>
    <div>
      <span style="color: #1b6d85">时间: </span>
      <span>2025年3月7日16:47:33</span>
    </div>
    <div>
      《求是杂志社2025年度公开招聘高校毕业生公告》已于2025年1月8日发布。结合报名情况，对原公告内容中“保密管理岗”资格条件作出调整，并延长该岗位报名时间。其他岗位报名目前已结束，将按原定节奏开展招聘工作，不受此次补充公告影响。现公告如下。
      <a href="http://www.chinaunicom.com.cn/about/about.html">点击跳转</a>
      <!--直接显示别人的图片地址（防盗链）： -->
      <img src="https://img6.donews.com/img/2023/10/19/img_pic_461697683743.jpeg" alt="" width="80px">
    </div>

    <h2>四川联通</h2>
    <div>
      <span style="color: coral">时间: </span>
      <span>2025年3月7日16:47:33</span>
    </div>
    <div>
      Error deserializing lua state for entity cookpot[100159] var:inherentactionsdirty - Failed to read net var data
      <p>跳转到自己的网站</p>
      <a href="/get/news" target="_blank">查看更多</a>
      <!--显示自己的图片：自己项目中创建：static目录，图片要放在static, 在页面上引入图片-->
      <img src="/static/a1.png" alt="" width="50%">
    </div>

    <h3>贵州联通</h3>
    <h4>云南联通</h4>
    <h5>贵州联通</h5>
    <h6>贵州联通</h6>

    <div>山东蓝翔</div>
    <span>挖掘机哪家强</span>

    <h2>
      <a href="/show/table">来个表格</a>
    </h2>

  </body>

</html>